
/* MAIN NAVIGATION STYLE */

.navDiv {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 25%;   
    min-width: 28em;   
}

#mainNav {
	background-color: #D8D8D8;
	/*font-family: Arial, "MS Trebuchet", sans-serif;*/
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: .35em;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    float:left;
    position:relative;
    z-index:5;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 2px black;
    
}

#mainNav li{
    float:left;
    margin-right:10px;
    position:static;
}

#mainNav a{
    display:block;
    padding:5px;
    color:black;
    background:gray;
    text-decoration:none;
  
}

#mainNav a:hover{
    color:black;
    padding:5px;
    text-decoration:underline;
}


/* HOVER STYLE */
#mainNav ul{
	list-style:none;
	position:absolute;
	display: none;
	padding-left: 0;
	white-space: nowrap;
	
}

#mainNav ul li{
	padding-top:1px;
	float: none;
	margin: 0 -3px 0 0;
	white-space: nowrap;
}

#mainNav ul a{
	white-space:nowrap;
}

#mainNav li:hover ul{
	
	display:block;
	font-size: 12px;
}

#mainNav li:hover a{
	background: gray;
	text-decoration:underline;
	transition-property: background;
	transition-duration: .8s;
}

#mainNav li:hover ul a{
	text-decoration:none;
}

#mainNav li:hover ul li a:hover{
	background:#C8C8C8;
	text-decoration:none;
}
