form {
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-size: 100% auto;
	min-width: 30em;
	min-height: 25em;
	box-shadow: 16px 16px 16px black;
	border: 2px solid;
	border-color: black;
	border-radius: 20px;
}

fieldset {
	margin: 8px;
	border: none;
	background-color: rgba( 0, 0, 0, .6 );	
}

#field1 {
	border: 1px solid;
	border-color: black;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#fieldYN {
	border: 1px solid;
	border-color: black;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

legend {
	padding: 4px;
	font-weight: bolder;
	background-color: rgba(56,56,56,.8);
}

input {
	padding: 4px;
	margin: 4px;
	background-color: black;
	color: white;
	border-top-color: white;
	border-left-color: white;
	border-right-color: black;
	border-bottom-color: black;
	
}

select	{
	padding: 4px;
	margin: 4px;
	border-top-color: white;
	border-left-color: white;
	border-right-color: black;
	border-bottom-color: black;
}

input:hover {
	border-top-color: black;
	border-left-color: black;		
}

select:hover {
	border-top-color: black;
	border-left-color: black;		
}

input:focus {
	border-color: black;
}

div.buttons {
	margin: auto;
	width: 30%;
	padding: 4px;	
}

input.buttons:active {
	border-top-color: black;
	border-left-color: black;
	border-right-color: white;
	border-bottom-color: white;
}

optgroup {
	color: gray;
	font-weight: bold;
	font-style: italic;
}

option {
	color: white;
}

select[name="REGION"] {
	background-color: black;
	color: white;
}