@media print{
	
/* MAIN NAVIGATION STYLE */

.navDiv {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 38%;  
    display: none; 
    visibility: hidden;
}

#mainNav {
	visibility: hidden;
	background-color: gray;
	/*font-family: Arial, "MS Trebuchet", sans-serif;*/
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: .35em;
    list-style:none;
    font-weight:bold;
    margin-bottom:10px;
    float:left;
    position:relative;
    z-index:5;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 10px 15px 2px black;
    
}

#mainNav li{
	visibility: hidden;
    float:left;
    margin-right:10px;
    position:static;
}

#mainNav a{
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
    display: none; 
    visibility: hidden;
  
}

#mainNav a:hover{
    color:#fff;
    padding:5px;
    background: #333;
    text-decoration:underline;
    display: none; 
    visibility: hidden;
}


/* HOVER STYLE */
#mainNav ul{
	background:rgba(255,255,255,0);
	list-style:none;
	position:absolute;
	display: none;
	padding-left: 0;
	white-space: nowrap;
    display: none; 
    visibility: hidden;
	
}

#mainNav ul li{
	padding-top:1px;
	float: none;
	margin: 0 -3px 0 0;
	white-space: nowrap;
    display: none; 
    visibility: hidden;
}

#mainNav ul a{
	white-space:nowrap;
    display: none; 
    visibility: hidden;
}

#mainNav li:hover ul{
	display:block;
	font-size: 12px;
}

#mainNav li:hover a{
	background: #333;
	text-decoration:underline;
	transition-property: background;
	transition-duration: .8s;
}

#mainNav li:hover ul a{
	text-decoration:none;
}

#mainNav li:hover ul li a:hover{
	background:#909090;
	text-decoration:none;
}

}